.idea/
*.code-workspace
build/
out/
project/
project/target/
target/
drafts/
node_modules/
package-lock.json
bin/effekt.jar
licenses/
.bsp/
bin
.metals/
.vscode/
*.tgz
.bloop

notes/
artwork/
sbt-microsite-docs
